* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	height: 100vh;
	background: #111;
}

.card-shell {
	width: 400px;
	height: 600px;
	background: #374379;
	border: 1px solid rgba(230, 154, 42, 0.8);
	display: grid;
	place-items: center;
	border-radius: 5px;
	z-index: 5;
}

.card-outer-container {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: #111;
	border: 1px solid rgba(230, 154, 42, 0.6);
	display: grid;
	place-items: center;
	border-radius: 5px;
	transition: all 1s ease;
}

.card-inner-container {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: #374379;
	border: 1px solid rgba(230, 154, 42, 0.4);
	z-index: 2;
	border-radius: 5px;
	transition: all 1s ease;
	box-shadow: 0px 0px 0px red;
}

.card-shell:hover .card-outer-container {
	box-shadow: inset 0px 0px 15px 2px red;
}

.card-shell:hover .card-inner-container {
	box-shadow: 0px 0px 15px 2px red;
}
